{% extends "account/base.html" %}

{% load i18n %}
{% load account %}


{% block content %}
{% load static %}
<div class="max-w-lg mx-auto flex flex-wrap p-6">
<div class="w-full bg-gray-100 p-6 rounded-xl">
    <h1 class="mb-6 text-2xl">Confirm your E-mail</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a class="" href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

<form class="pt-3" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="py-4 px-6 rounded-xl text-white bg-purple-500 hove:bg-purple-700" type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}

</div>
</div>
{% endblock %}
