{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block content %}
{% load static %}

<div class="max-w-lg mx-auto flex flex-wrap p-6">
<div class="w-full bg-gray-100 p-6 rounded-xl">
      <h1 class="mb-6 text-2xl">Password Reset</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, We'll send you an e-mail to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset pt-5">
        {% csrf_token %}
        <div>
            <label>E-mail</label>
            <input type="email" name="email" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
        </div>

        <div class="pt-3">
        <input  class="py-4 px-6 rounded-xl text-white bg-purple-500 hove:bg-purple-700"  type="submit" value="{% trans 'Reset My Password' %}" />
        </div>
    </form>

    <p class="pt-5">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
</div>
{% endblock %}
