{% extends "account/base.html" %}
{% block title %}Sign up{% endblock %}

{% load i18n %}

{% block content %}

<div class="max-w-lg mx-auto flex flex-wrap p-6">
<div class="w-full bg-gray-100 p-6 rounded-xl">
  <h1 class="mb-6 text-2xl">Sign up</h1>

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div>
    <label>E-mail</label>
    <input type="email" name="email" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
  </div>

  <div>
    <label>First Name</label>
    <input type="text" name="first_name" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
  </div>

  <div>
    <label>Last Name</label>
    <input type="text" name="last_name" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
  </div>

  <div>
    <label>Password</label>
    <input type="password" name="password1" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
  </div>

  <div>
    <label>Repeat Password</label>
    <input type="password" name="password2" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
  </div>

  {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
          <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-red-500">
            <span class="text-xl inline-block mr-5 align-middle">
              <i class="fas fa-bell"></i>
            </span>
            <span class="inline-block align-middle mr-8">
              <b class="capitalize">Error!</b> {{ error|escape }}
            </span>
            <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none" onclick="closeAlert(event)">
              <span>×</span>
          
            </button>
          </div>
      {% endfor %}
  {% endfor %}

  {% for error in form.non_field_errors %}
  <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-red-500">
    <span class="text-xl inline-block mr-5 align-middle">
      <i class="fas fa-bell"></i>
    </span>
    <span class="inline-block align-middle mr-8">
      <b class="capitalize">Error!</b> {{ error|escape }}
    </span>
    <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none" onclick="closeAlert(event)">
      <span>×</span>
  
    </button>
  </div>
  {% endfor %}
  {% endif %}

  <script>
    function closeAlert(event){
      let element = event.target;
      while(element.nodeName !== "BUTTON"){
        element = element.parentNode;
      }
      element.parentNode.parentNode.removeChild(element.parentNode);
    }
  </script>
  
  <div class="pt-3">
    <button class="py-4 px-6 rounded-xl text-white bg-purple-500 hove:bg-purple-700" type="submit">{% trans "Signup" %}</button>
  </div>
  
  </form>
</div>
</div>

{% endblock %}
