{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{% static 'dinocha.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Niconne' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Aboreto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
    </head>
<body class="bg-stone-900">

    <nav
        class="
          border-b
          flex flex-wrap
          items-center
          justify-between
          py-2
          md:py-0
          px-6
          text-lg text-gray-700
          bg-gray-200
        ">
      
        <div class="menu-left flex items-center space-x-6">
            <a href="#" class="py-4 text-lg text-purple-500 font-semibold">SomTam Coffee</a>
        </div>

        <svg
            xmlns="http://www.w3.org/2000/svg"
            id="menu-button"
            class="h-6 w-6 cursor-pointer md:hidden block"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">

            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"/>
        </svg>

        <div class="hidden w-full md:flex md:items-center items-center md:w-auto " id="menu">
            <ul class="text-base text-gray-700 pt-4 md:flex md:justify-between md:pt-0">
                <li>
                    <a class="md:p-4 py-2 block hover:text-purple-400 font-semibold" href="#">Home</a>
                </li>
            
                <li>
                    <a class="md:p-4 py-2 block hover:text-purple-400 font-semibold" href="#">Shop</a>
                </li>
          
                <li>
                    <a class="md:p-4 py-2 block hover:text-purple-400 font-semibold" href="#">Log In</a>
                </li>
          
                <li>
                    <a class="md:p-4 py-2 block hover:text-purple-400 text-purple-500 font-semibold" href="#">Sign Up</a>
                </li>
            </ul>
        </div>

        <script>
            const button = document.querySelector('#menu-button'); // Hamburger Icon
            const menu = document.querySelector('#menu'); // Menu

            button.addEventListener('click', () => {
            menu.classList.toggle('hidden');
            });
        </script>
    </nav>    
    

    <main>
        {% block content %}

        {% endblock %}
    </main>

</body>
</html>