{% load static %}
<!DOCTYPE html>
<html>
    
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{% static 'dinocha.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Niconne' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Aboreto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
    </head>

<body class="bg-stone-900 flex flex-col min-h-screen">

    <!-- Navbar goes here -->
	<nav class="bg-white shadow-lg">
		<div class="max-w-6xl mx-auto px-4">
			<div class="flex justify-between">
				<div class="flex space-x-7">
					<div>
						<!-- Website Logo -->
						<a href="/" class="flex items-center py-4 px-2">
							<span class="somtam-nav-logo font-semibold text-purple-700 hover:text-purple-900 text-2xl">SomTam Coffee</span>
						</a>
					</div>
					<!-- Primary Navbar items -->
					<div class="hidden md:flex items-center space-x-1">
						<a href="" class="somtam-nav-links py-4 px-2 text-purple-500 hover:text-purple-700 transition duration-300 font-semibold">Shop</a>
						<a href="" class="somtam-nav-links py-4 px-2 font-semibold">Contact</a>
						<a href="" class="somtam-nav-links py-4 px-2 font-semibold">Log In</a>
						<a href="" class="somtam-nav-links py-4 px-2 font-semibold">Sign Up</a>
					</div>
				</div>
					
				<!-- Secondary Navbar items -->
				<div class="hidden md:flex items-center space-x-3 ">
					<a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>                      
                    </a>
					<a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                        </svg>
                    </a>
				</div>
					
				<!-- Mobile menu button -->
				<div class="md:hidden flex items-center">
					<button class="outline-none mobile-menu-button">
						<svg class=" w-6 h-6 text-gray-500 hover:text-purple-700"
							x-show="!showMenu"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
						<path d="M4 6h16M4 12h16M4 18h16"></path>
						</svg>
					</button>
				</div>
			</div>
		</div>
		
		<!-- mobile menu -->
			<div class="hidden mobile-menu">
				<ul class="">
					<li><a href="#services" class="somtam-nav-links block text-sm px-2 py-4 text-purple-500 hover:text-purple-700 transition duration-300 font-semibold">Shop</a></li>
					<li><a href="#about" class="somtam-nav-links block text-sm px-2 py-4 font-semibold">Contact</a></li>
					<li><a href="#about" class="somtam-nav-links block text-sm px-2 py-4 font-semibold">LogIn</a></li>
					<li><a href="#contact" class="somtam-nav-links block text-sm px-2 py-4 font-semibold">SignUp</a></li>
                    <li><a href="#contact" class="somtam-nav-links block text-sm px-2 py-4 font-semibold">LogOut</a></li>
					<li><a href="#" class="block px-2 py-4"><img src="{% static 'images/user.png' %}" class="w-6 h-6"></a></li>
					<li><a href="#" class="block px-2 py-4"><img src="{% static 'images/shopping-cart.png' %}" class="w-6 h-6"></a></li>
				</ul>
			</div>
			
			<script>
				const btn = document.querySelector("button.mobile-menu-button");
				const menu = document.querySelector(".mobile-menu");

				btn.addEventListener("click", () => {
					menu.classList.toggle("hidden");
				});
			</script>
	</nav>
    

    <main class="flex-grow">
        {% block content %}

        {% endblock %}
    </main>

	<footer class="bg-gray-100">
		<div class="px-24 mt-8 border-t border-gray-100 sm:flex sm:items-center sm:justify-between lg:mt-5">
			<nav>
				<ul class="flex flex-wrap justify-center mb-5 gap-4 text-xs">
					<li>
				  		<a href="#" class="somtam-nav-links text-sm transition hover:opacity-75 mr-3">About</a>
						<a href="#" class="somtam-nav-links text-sm transition hover:opacity-75">Contact</a>
					</li>
			  	</ul>
			</nav>
	  
			<ul class="flex justify-center gap-6 mb-5 mt-0 sm:lg:justify-end">
				<li>
			  		<a href="#">
						<img src="{% static 'images/facebook.png' %}" class="w-6 h-6"/>
					</a>
				</li>
			</ul>
		  </div>
		</div>
	</footer>

</body>
</html>