{% extends 'core/base.html' %}

{% block content %}
{% load static %}
<div class="flex items-center">
        <img class="mx-auto frontpage-coffee-cup"
        src="{% static 'images/coffee-cup.png' %}"
        />
</div>

<div class="flex items-center">
    <span class="lorem-ipsum mx-auto text-gray-200 text-3xl">
        <span>Start your day right with</span>
        <br />
        <span>our crafted products,</span>
        <br />
        <span>hand made to perfection</span>
        <br />
        <span>and served with a smile.</span>
    </span>
</div>
{% endblock %}